.container {
    margin-top: 5vh;
}

.updateEvalForm {
    display: block;
}

.mat-form-field {
    display: block;
    margin: auto;
    width: 40%;
}

.submitBtn {
    align-self: flex-end;
}

.test {
    display: block;
    margin: auto;
}