<mat-toolbar class="mat-elevation-z6" color="primary">
    <mat-toolbar-row>
        <span class="logo" routerLink="/search">TalentRate</span>
        <span class="spacer"></span>
        <button mat-raised-button class="toolbarBtn" color="primary" routerLink="/search" matTooltip="Rechercher evaluation">
            <mat-icon class="toolbarIcon">search</mat-icon>
        </button>
        <button mat-raised-button class="toolbarBtn" color="primary" routerLink="/create" matTooltip="Créer evaluation">
            <mat-icon class="toolbarIcon">add</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<app-loader></app-loader>
<router-outlet></router-outlet>