.container {
    margin-top: 5vh;
}

table {
    width: 100%;
}

.searchEvalForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.searchInput {
    width: 30%;
}

.submitBtn {
    height: 5vh;
    margin-top: 2vh;
}
  
.tableFilterInput {
    font-size: 14px;
    width: 100%;
}

.mat-header-cell {
    text-align: center;
}

.mat-cell {
    text-align: center;
}

.mat-raised-button {
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}

.copyIcon {
    color: black;
}

.editIcon {
    color: blue;
}

.deleteIcon {
    color: red;
}

.graphContainer {
    margin-top: 8vh;
    height: 60vh;
}

mat-progress-spinner {
    display: block;
    margin: auto;
}