.container {
    margin-top: 5vh;
}

.mat-form-field {
    display: block;
    margin: auto;
    width: 40%;
}

.btnContainer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2vh;
}

.copyEvalBtn {
    margin-right: 4vw;
}